@using static PortalWWW.Helpers.GenericCheck;
@model dynamic

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Type entityType = ViewData["type"] as Type;
    string partialViewName = (string)ViewData["PartialViewName"];
    var properties = entityType.GetProperties();
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" rel="stylesheet">

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h4 class="text-primary">Create @entityType.Name</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Index" class="btn btn-primary m-2 custom-btn">
                <i class="bi bi-arrow-left"></i> Back to List
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <form asp-action="CreateConfirmed" method="post" enctype="multipart/form-data">
            <table class="table table-bordered table-striped table-hover custom-table">
                <div class="table-responsive">
                    <table id="tblData" class="table table-bordered table-striped table-hover custom-table">
                        <thead>
                            <tr>
                                <th>New @entityType.Name</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </td>
                    </tr>

                    @foreach (var prop in properties)
                    {
                        if (IsGenericCollection(prop.PropertyType)) continue;
                        if (!ShouldShowPropertyOnCreate(prop.Name)) continue;
                        if (IsId(prop.Name)) continue;
                        if (IsTypeOfBaseDatatable(prop.PropertyType)) continue;
                        if (!ShouldBeShownBasedOnPropertyName(prop.Name)) continue;

                        bool isBoolean = prop.PropertyType == typeof(bool) || Nullable.GetUnderlyingType(prop.PropertyType) == typeof(bool);
                        bool isIsActive = prop.Name.Equals("IsActive", StringComparison.OrdinalIgnoreCase);

                        <tr>
                            <td><strong><label for="@prop.Name" class="form-label">@prop.Name</label></strong></td>
                            <td>
                                <div class="form-floating mb-3">
                                    @if (prop.PropertyType == typeof(string))
                                    {
                                        <textarea id="@prop.Name" name="@prop.Name" class="form-control" placeholder="@prop.Name"></textarea>
                                    }
                                    else if (isBoolean && isIsActive)
                                    {
                                        <!-- Fancy Radio Button for isActive -->
                                        <div class="d-flex gap-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="@prop.Name" id="@prop.Name-yes" value="true" checked>
                                                <label class="form-check-label" for="@prop.Name-yes">Active</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="@prop.Name" id="@prop.Name-no" value="false">
                                                <label class="form-check-label" for="@prop.Name-no">Inactive</label>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <input id="@prop.Name" name="@prop.Name" @TextTypeBasedOnPropertyType(prop.PropertyType) class="form-control" />
                                    }
                                    <span asp-validation-for="@prop.Name" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                    }
                    @if (partialViewName != null)
                    {
                        @await Html.PartialAsync(partialViewName)
                    }
                </tbody>
            </table>


            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-success m-2 custom-btn" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js"></script>

    <link href="~/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                placeholder: "Select items",
                allowClear: true
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.summernote').summernote();
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
