@model DatabaseAPI.Models.CinemaMovie.Movie;
@using static PortalWWW.Helpers.GenericCheck;

@{
    string actorString = CreateStringValueFromList(Model.Actors);
    string awardString = CreateStringValueFromList(Model.Awards);
    string directorString = CreateStringValueFromList(Model.Directors);
    string languagueString = CreateStringValueFromList(Model.Languages);
    string movieKeywordsString = CreateStringValueFromList(Model.MovieKeywords);
    string subtitlesString = CreateStringValueFromList(Model.Subtitles);
}

<tr>
    <td>
        <strong><label asp-for="AgeRating.Name" class="form-label">Age Rating</label></strong>
    </td>
    <td>
        <div class="form-floating mb-3">
            <input asp-for="AgeRating.Name" class="form-controlX " id="floatingInput" value="@Model.AgeRating.Name" readonly>
            <span asp-validation-for="AgeRating.Name" class="text-danger"></span>
        </div>
    </td>
</tr>
<tr>
    <td>
        <strong><label asp-for="Country.Name" class="form-label">Country</label></strong>
    </td>
    <td>
        <div class="form-floating mb-3">
            <input asp-for="Country.Name" class="form-controlX " id="floatingInput" value="@Model.Country.Name" readonly>
            <span asp-validation-for="Country.Name" class="text-danger"></span>
        </div>
    </td>
</tr>
<tr>
    <td>
        <strong><label asp-for="Genre.Name" class="form-label">Genre</label></strong>
    </td>
    <td>
        <div class="form-floating mb-3">
            <input asp-for="Genre.Name" class="form-controlX " id="floatingInput" value="@Model.Genre.Name" readonly>
            <span asp-validation-for="Genre.Name" class="text-danger"></span>
        </div>
    </td>
</tr>
<tr>
    <td>
        <strong><label asp-for="MovieFormat.Name" class="form-label">Movie Format</label></strong>
    </td>
    <td>
        <div class="form-floating mb-3">
            <input asp-for="MovieFormat.Name" class="form-controlX " id="floatingInput" value="@Model.MovieFormat.Name" readonly>
            <span asp-validation-for="MovieFormat.Name" class="text-danger"></span>
        </div>
    </td>
</tr>
<tr>
    <td>
        <strong><label asp-for="MovieProductionCompany.Name" class="form-label">Production Company</label></strong>
    </td>
    <td>
        <div class="form-floating mb-3">
            <input asp-for="MovieProductionCompany.Name" class="form-controlX " id="floatingInput" value="@Model.MovieProductionCompany.Name" readonly>
            <span asp-validation-for="MovieProductionCompany.Name" class="text-danger"></span>
        </div>
    </td>
</tr>
<tr>
    <td>
        <strong><label asp-for="Actors" class="form-label">Actors</label></strong>
    </td>
    <td>
        <div class="form-floating mb-3">
            <input asp-for="Actors" class="form-controlX " id="floatingInput" value="@actorString" readonly>
        </div>
    </td>
</tr>
<tr>
    <td>
        <strong><label asp-for="Awards" class="form-label">Awards</label></strong>
    </td>
    <td>
        <div class="form-floating mb-3">
            <input asp-for="Awards" class="form-controlX " id="floatingInput" value="@awardString" readonly>
        </div>
    </td>
</tr>
<tr>
    <td>
        <strong><label asp-for="Directors" class="form-label">Directors</label></strong>
    </td>
    <td>
        <div class="form-floating mb-3">
            <input asp-for="Directors" class="form-controlX " id="floatingInput" value="@directorString" readonly>
        </div>
    </td>
</tr>
<tr>
    <td>
        <strong><label asp-for="Languages" class="form-label">Languages</label></strong>
    </td>
    <td>
        <div class="form-floating mb-3">
            <input asp-for="Languages" class="form-controlX " id="floatingInput" value="@languagueString" readonly>
        </div>
    </td>
</tr>
<tr>
    <td>
        <strong><label asp-for="MovieKeywords" class="form-label">Movie Keywords</label></strong>
    </td>
    <td>
        <div class="form-floating mb-3">
            <input asp-for="MovieKeywords" class="form-controlX " id="floatingInput" value="@movieKeywordsString" readonly>
        </div>
    </td>
</tr>
<tr>
    <td>
        <strong><label asp-for="Subtitles" class="form-label">Subtitles</label></strong>
    </td>
    <td>
        <div class="form-floating mb-3">
            <input asp-for="Subtitles" class="form-controlX " id="floatingInput" value="@subtitlesString" readonly>
        </div>
    </td>
</tr>
<tr>
    <td>
        <strong><label asp-for="imageUrl" class="form-label">imageUrl</label></strong>
    </td>
    <td>
        <div class="form-floating mb-3">
            <input asp-for="imageUrl" class="form-controlX " id="floatingInput" value="@Model.imageUrl" readonly>
            <span asp-validation-for="imageUrl" class="text-danger"></span>
        </div>
    </td>
</tr>
<div class="col-4">
    <div class="border p-1 m-2 text-center">
        <img src="@($"http://localhost/images/{@Model.imageUrl}")" width="100%"
             style="border-radius:5px; border:1px solid #bbb9b9" />
        <a asp-action="DeleteImage" class="btn btn-danger" asp-route-id="@Model.Id">
            <i class="bi bi-trash-fill"></i> Delete
        </a>
    </div>
</div>