@model PortalWWW.Models.CartInformation


@{
    ViewData["Title"] = "Payment Choice";
    
}

<div class="container">
    <div class="container">
        <p>Cart Details</p>
         <div class="container">
            @foreach (var element in Model.CartElements)
            {
                <div class="col-md-6 d-flex card">
                    <div class="card-header">
                        <p>@element.ScreeningSeat.Screening.Movie.Name</p>
                    </div>
                    <div class="card-body">
                        <p>Duration - @element.ScreeningSeat.Screening.Movie.Duration</p>
                        <p>Date - @element.ScreeningSeat.Screening.StartDate.Value.ToString("dd:MM:yyyy")</p>
                        <p>Start - @element.ScreeningSeat.Screening.StartDate.Value.ToString("HH:mm")</p>
                        <p>End - @element.ScreeningSeat.Screening.EndDate.Value.ToString("HH:mm")</p>
                        <p>Seat - @element.ScreeningSeat.Name</p>
                    </div>
                </div>
            }
        </div>

        <p>Total Price: @Model.PriceTotal zł</p>
        </div>
    <p>Choose Payment</p>
    <form asp-controller="Cart" asp-action="ProcessPayment" method="post">

        <select asp-for="@Model.PaymentMethod" class="form-control" asp-items="ViewBag.PaymentMethods">
            <option value="">-- Payment Method --</option>
        </select>
        <button type="submit" class="btn btn-toolbar m-2 border-white">Go to payment</button>
    </form>
</div>
    