@model PortalWWW.Models.CartInformation


@{
    ViewData["Title"] = "Cart";
}

<div>
    <h3 class="text-primary" style="margin-left:60px;">Cart</h3>
</div>
<div class="container">
    @if (Model.CartElements.Count() == 0)
    {
        <h5 style="color:red; text-align: center; margin-top:150px;">The cart is empty!<br> Please find some nice movie first.</h5>
    }
    else
    {
        <div class="container">
            @foreach (var element in Model.CartElements)
            {
                <div class="col-md-6 d-flex card">
                    <div class="card-header">
                        <p>@element.ScreeningSeat.Screening.Movie.Name</p>
                    </div>
                    <div class="card-body">
                        <p>Duration - @element.ScreeningSeat.Screening.Movie.Duration</p>
                        <p>Date - @element.ScreeningSeat.Screening.StartDate.Value.ToString("dd:MM:yyyy")</p>
                        <p>Start - @element.ScreeningSeat.Screening.StartDate.Value.ToString("HH:mm")</p>
                        <p>End - @element.ScreeningSeat.Screening.EndDate.Value.ToString("HH:mm")</p>
                        <p>Seat - @element.ScreeningSeat.Name</p>
                    </div>
                </div>
            }
        </div>

        <p>Total Price: @Model.PriceTotal zł</p>

        <form asp-controller="Cart" asp-action="ChoosePayment" method="post">
            <button type="submit" class="btn btn-outline-dark">Go to payment</button>
        </form>
    }
</div>
