@model DatabaseAPI.Models.General.Invoice


@{
    ViewData["Title"] = "Order Confirmed";
}

<div class="container">
    <p>The order confirmation</p>
</div>
<div class="container">
    <p>Your order was succesful</p>
    <p>Order details:</p>
    <p>Invoice ID: @Model.InvoiceId</p>
    <p>Sum: @Model.Sum PLN</p>
    <p>Payment Method: @Model.PaymentMethod.Name</p>
    <p>Payment status: @Model.PaymentStatus</p>
    <p>Order details: @Model.OrderStatus</p>

    <form asp-controller="Cart" asp-action="Index" method="post">
        <button type="submit" class="btn btn-outline-dark">Go to the cart</button>
    </form>
</div>