@model DatabaseAPI.Models.General.Invoice


@{
    ViewData["Title"] = "Order Cancelled";
}

<div class="container">
    <p>The order cancellation</p>
</div>
<div class="container">
    <p>Your order was cancelled</p>
    <p>Order details:</p>
    <p>Invoice ID: @Model.InvoiceId</p>
    <p>Sum: @Model.TotalSum PLN</p>
    <p>Payment Method: @Model.PaymentMethod.Name</p>
    <p>Payment status: @Model.PaymentStatus</p>
    <p>Order details: @Model.OrderStatus</p>

    <form asp-controller="Cart" asp-action="Index" method="get">
        <button type="submit" class="btn btn-outline-dark">Go to the cart</button>
    </form>
</div>