@model PortalWWW.Models.MovieNews

<div class="col-md-6">
    <div class="popular_2i1 row">
        <div class="col-md-4 col-4">
            <div class="popular_2i1lm position-relative clearfix">
                <div class="popular_2i1lm1 clearfix">
                    <div class="grid">
                        <figure class="effect-jazz mb-0">
                            <img src="@($"http://localhost/images/{@Model.PhotoUrl}")" class="w-100" alt="img25">
                        </figure>
                    </div>
                </div>
                <div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
                    <ul>
                        <li class="d-inline-block"><a href="#"><i class="fa fa-link col_red"></i></a></li>
                        <li class="d-inline-block"><a href="google.com//search?q=@Model.Title"><i class="fa fa-search col_red"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-8">
            <div class="popular_2i1r">
                <h5><a class="col_red" href="#">@Model.Title</a></h5>
                <h6>@Model.Genre</h6>
                <h6> Imdb 8.2  <span class="ms-2"><i class="fa fa-star col_red me-1"></i></span> Year : @Model.ReleaseDate <span class="ms-2">Runtime: @Model.Duration</span></h6>
                <p>@Model.Description</p>
                    <h6 class="mb-0"><a asp-action="ShowMovieDetails" asp-controller="Movie" asp-route-id="@Model.MovieId" class="button"> More Info </a></h6>
            </div>
        </div>
    </div>
</div>