@using PortalWWW.Helpers
@using static PortalWWW.Helpers.GenericCheck;
@model DatabaseAPI.Models.People.User;

@{
    ViewData["Title"] = "User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h4 class="text-primary">User Details</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning btn-sm custom-btn">
                <i class="bi bi-pencil"></i> Edit
            </a>
            <a asp-action="Index" class="btn btn-primary m-2">
                <i class="bi bi-arrow-left"></i> Back to List
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover custom-table">
            <div class="table-responsive">
                <table id="tblData" class="table table-bordered table-striped table-hover custom-table">
                    <thead>
                        <tr>
                            <th>User Details</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <tbody>
                <tr>
                    <td>
                        <strong><label asp-for="FirstName" class="form-label">First Name</label></strong>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="FirstName" class="form-controlX " id="floatingInput" value="@Model.FirstName" readonly>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td
                        <strong><label asp-for="LastName" class="form-label">First Name</label></strong>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="LastName" class="form-controlX " id="floatingInput" value="@Model.LastName" readonly>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td
                        <strong><label asp-for="MiddleName" class="form-label">Middle Name</label></strong>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="MiddleName" class="form-controlX " id="floatingInput" value="@Model.MiddleName" readonly>
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td
                        <strong><label asp-for="DateOfBirth" class="form-label">Date Of Birth</label></strong>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="DateOfBirth" class="form-controlX " id="floatingInput" value="@Model.DateOfBirth" readonly>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td
                        <strong><label asp-for="Role" class="form-label">Role</label></strong>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="Role" class="form-controlX " id="floatingInput" value="@Model.Role" readonly>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td
                        <strong><label asp-for="Email" class="form-label">Role</label></strong>
                    </td>
                    <td>
                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-controlX " id="floatingInput" value="@Model.Email" readonly>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover custom-table">
                <div class="table-responsive">
                    <table id="tblData" class="table table-bordered table-striped table-hover custom-table">
                        <thead>
                            <tr>
                                <th>Address</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <tbody>
                    <tr>
                        <td>
                            <strong><label asp-for="Address.StreetName" class="form-label">Street Name</label></strong>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="Address.StreetName" class="form-controlX " id="floatingInput" value="@Model.Address.StreetName" readonly>
                                <span asp-validation-for="Address.StreetName" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td
                        <strong><label asp-for="Address.HouseNumber" class="form-label">House Number</label></strong>
                    </td>
                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="Address.HouseNumber" class="form-controlX " id="floatingInput" value="@Model.Address.HouseNumber" readonly>
                                <span asp-validation-for="Address.HouseNumber" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td
                        <strong><label asp-for="Address.ApartmentNumber" class="form-label">Apartment Number</label></strong>
                    </td>
                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="Address.ApartmentNumber" class="form-controlX " id="floatingInput" value="@Model.Address.ApartmentNumber" readonly>
                                <span asp-validation-for="Address.ApartmentNumber" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td
                        <strong><label asp-for="Address.EirCode" class="form-label">EirCode</label></strong>
                    </td>
                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="Address.EirCode" class="form-controlX " id="floatingInput" value="@Model.Address.EirCode" readonly>
                                <span asp-validation-for="Address.EirCode" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td
                        <strong><label asp-for="Address.City" class="form-label">City</label></strong>
                    </td>
                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="Address.City" class="form-controlX " id="floatingInput" value="@Model.Address.City" readonly>
                                <span asp-validation-for="Address.City" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td
                        <strong><label asp-for="Address.City" class="form-label">Country</label></strong>
                    </td>
                        <td>
                            <div class="form-floating mb-3">
                                <input asp-for="Address.City" class="form-controlX " id="floatingInput" value="@Model.Address.Country" readonly>
                                <span asp-validation-for="Address.City" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
