@model DatabaseAPI.Models.CMS.Website;

@{
    ViewData["Title"] = "More - " + Model.TitleName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <div class="container d-flex justify-content-center">
    <div class="col-md-8 text-center">
        @Html.Raw(Model.Content)
    </div>
</div> *@

<div class="container mt-5">
    <h1 class="text-center mb-4">@Model.Name</h1>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                @foreach (var item in ViewBag.TermsList)
                {
                    <a href="@Url.Action("More", "Home", new { id = item.Id })" class="list-group-item list-group-item-action @((item.Id == Model.Id) ? "active" : "")">
                        @item.Name
                    </a>
                }
            </div>
        </div>
        <div class="col-md-8">
            <h6>@Model.Description</h6>
            <p>@Model.Content</p>
        </div>
    </div>
</div>