@using DatabaseAPI.Models.CinemaMovie;
@model List<ScreeningSeat>

@{
    ViewData["Title"] = "Details";
}

<!-- Dodaj link do Font Awesome dla ikon -->
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
 
<div class="container mt-5">
    <h2 class="text-primary text-center"><i class="fas fa-film"></i> Screening Details</h2>

    <div class="info-section">
        <h4><i class="fas fa-video"></i> Movie Name: <span class="text-warning">@ViewData["MovieName"]</span></h4>
        <h5><i class="fas fa-ticket-alt"></i> Screening ID: <span class="text-info">@ViewData["ScreeningId"]</span></h5>
        <h5><i class="fas fa-calendar-alt"></i> Date: <span class="text-success">@ViewData["Date"]</span></h5>
    </div>

    <h4 class="text-center text-white"><i class="fas fa-chair"></i> Chosen Seats</h4>
    <div class="seat-container">
        @foreach (var item in Model)
        {
            <div class="seat-card">@item.Name</div>
        }
    </div>

    <form asp-controller="Cart" asp-action="AddToCart" method="post">
        @for (var i = 0; i < Model.Count(); i++)
        {
            <input type="hidden" name="screeningSeats[@i]" value="@Model.ElementAt(i).Id" />
        }
        <button type="submit" class="add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
    </form>
    <br />
</div>
<br />
