@using DatabaseAPI.Models.CinemaMovie;
@model List<ScreeningSeat>

@{
    ViewData["Title"] = "Details";
}

<div>
    <p>Details</p>
    <p>Screening ID: @ViewData["ScreeningId"]</p>
    <p>Movie Name: @ViewData["MovieName"]</p>
    <p>Date: @ViewData["Date"]</p>
</div>

<div class="container">
    @foreach (var item in Model)
    {
        <p>@item.Name</p>
    }
</div>
<form asp-controller="Cart" asp-action="AddToCart" method="post">
    @for (var i = 0; i < Model.Count(); i++)
    {
        <input type="hidden" name="screeningSeats[@i]" value="@Model.ElementAt(i).Id" />
    }
<button type="submit" class="btn btn-toolbar m-2 border-white">Add to cart</button>
</form>