@model IEnumerable<DatabaseAPI.Models.CinemaMovie.Movie>

@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="table-responsive">
        <div>
            <h4>Movies in the cinema</h4>
        </div>
        <div class="flex-column">
            @foreach (var movie in Model)
            {
                <div class="row">
                    <div class="col-3">
                        <div class="border p-1 m-2 text-center">
                            <img src="@movie.imageUrl" width="100%"
                                 style="border-radius:5px; border:1px solid #bbb9b9" />
                        </div>
                    </div>
                    <div class="col-6">
                        <strong><label class="form-label" style="font-size:24px">@movie.Name</label></strong>
                        <table class="table-responsive">
                            <tr>
                                <td><label class="form-label" style="font-size:20px">Genre</label></td>
                                <td><p class="form-label">@movie.Genre.Name</p></td>
                            </tr>
                            <tr>
                                <td><label class="form-label" style="font-size:20px">Release date</label></td>
                                <td><p class="form-label">@movie.CreatedAt</p></td>
                            </tr>
                            <tr>
                                <td><label class="form-label" style="font-size:20px">Age Rating</label></td>
                                <td><p class="form-label">@movie.AgeRating.Name</p></td>
                            </tr>
                            <tr>
                                <td><label class="form-label" style="font-size:20px">Description</label></td>
                                <td>
                                    <p class="form-label">
                                        @(movie.Description.Substring(0, Math.Min(150, movie.Description.Length))
                                            + "...")
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-label" style="font-size:20px">Ticket Price</label></td>
                                <td><p class="form-label">@movie.TicketPrice PLN</p></td>
                            </tr>
                        </table>
                    </div>
                   
                    <div class="col-1">

                        <div class="text-center">
                            <form asp-controller="Movie" asp-action="ShowMovieDetails" asp-route-id="@movie.Id">
                                <button class="btn btn-danger">
                                    Details
                                </button>
                            </form>
                        </div>
                    </div>
                    <hr>
                </div>
            }
        </div>
    </div>
</div>