@model IEnumerable<DatabaseAPI.Models.CinemaMovie.Movie>

@{
    ViewData["Title"] = "Movies with screenings";
    string selectedOne = ViewData["selectedDate"] as string;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var properDate = DateTime.ParseExact(selectedOne, "dd/MM/yyyy", null).Date;
}


<div class="container">
    <div class="table-responsive">
        <div>
            <h4>Movies in the cinema</h4>
        </div>

        <div class="container">
            <div class="latest-news text-center">
                <form asp-controller="Movie" asp-action="IndexWithScreenings" method="post"
                      class="d-flex align-items-center justify-content-center gap-2">
                    <label class="custom-label" for="datepicker">Select a Date for the Movie:</label>
                    <input type="text" id="datepicker" name="selectedDate" value="@selectedOne" style="background-color: black; height:40px;" />
                    <br>
                    <button type="submit" class="btn btn-dark">Choose a date</button>
                </form>
            </div>
        </div>
        <div class="flex-column">
            @if (Model.Count() == 0)
            {
                <div class="container">
                    <p>Sorry, there is no screenings that day.</p>
                </div>
            }
            @foreach (var movie in Model)
            {
                <div class="row">
                    <div class="col-3">
                        <div class="border p-1 m-2 text-center">
                            <img src="@($"http://localhost/images/{@movie.imageUrl}")" width="100%"
                                 style="border-radius:5px; border:1px solid #bbb9b9" />
                        </div>
                    </div>
                    <div class="col-6">
                        <strong><label class="form-label">@movie.Name</label></strong>
                        <table class="table-responsive">
                            <tr>
                                <td><label class="form-label">Genre</label></td>
                                <td><p class="form-label">@movie.Genre.Name</p></td>
                            </tr>
                            <tr>
                                <td><label class="form-label">Release date</label></td>
                                <td><p class="form-label">@movie.CreatedAt</p></td>
                            </tr>
                            <tr>
                                <td><label class="form-label">Age Rating</label></td>
                                <td><p class="form-label">@movie.AgeRating.Name</p></td>
                            </tr>
                            <tr>
                                <td><label class="form-label">Description</label></td>
                                <td>
                                    <p class="form-label">
                                        @(movie.Description.Substring(0, Math.Min(150, movie.Description.Length))
                                            + "...")
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-label">Ticket Price</label></td>
                                <td><p class="form-label">@movie.TicketPrice PLN</p></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-1">

                        <div class="border p-1 m-2 text-center">
                            <form asp-controller="Movie" asp-action="ShowMovieDetails" asp-route-id="@movie.Id">
                                <button class="btn btn-danger">
                                    Details
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <strong><label class="form-label">Screenings</label></strong>

                    <div id="screeningsContainerForMovie" class="container">
                        @foreach (var screening in movie.Screenings)
                        {
                            if (screening.StartDate >= properDate && screening.StartDate <= properDate.AddDays(1))
                            {
                                <form asp-controller="Movie" asp-action="ChooseSeats" asp-route-screeningId="@screening.Id">
                                    <button class="btn btn-info btn-sm mb-2">
                                        @screening.StartDate.Value.ToString("dd-MM-yyyy HH:mm")
                                    </button>
                                </form>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <!-- Include jQuery and jQuery UI libraries at the top -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
            integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="
            crossorigin="anonymous"></script>
    <!-- JavaScript code to initialize datepicker -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            flatpickr("#datepicker", {
                dateFormat: "d/m/Y", // Adjust the format to your locale
                allowInput: false,      // Allow manual input if desired
            });
        });
    </script>
}