@using DatabaseAPI.Models.CinemaMovie;
@model IEnumerable<DatabaseAPI.Models.CinemaMovie.Movie>;


@{
    ViewData["Title"] = "Movie Screening";
}

@section Scripts
{
    <!-- Include jQuery and jQuery UI libraries at the top -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
            integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="
            crossorigin="anonymous"></script>
    <!-- JavaScript code to initialize datepicker -->
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#movieSelect, #datepicker').change(function () {
            var selectedMovieId = $('#movieSelect').val();
            var selectedDate = $('#datepicker').val();
            if (selectedMovieId !== "" && selectedDate !== "") {
                $.ajax({
                    url: '@Url.Action("GetScreenings", "Movie")',
                    type: 'GET',
                    data: {
                        movieId: selectedMovieId,
                        date: selectedDate
                    },
                    success: function (data) {
                        $('#screeningsContainer').html(data);
                        $('#screeningsContainer').show();
                    }
                });
            } else {
                $('#screeningsContainer').hide();
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#ShowMoviesList').click(function () {
            $('#ShowMoviesDiv').show();
            $('#ShowScreeningsDiv').hide();
        });

        $('#ShowScreeningsList').click(function () {
            $('#ShowMoviesDiv').hide();
            $('#ShowScreeningsDiv').show();
        });
    });
</script>

<div class="container">
    <div class="row">
        <button type="submit" id="ShowMoviesList" class="btn btn-toolbar m-2 border-white">Show Movies</button>
        <button type="submit" id="ShowScreeningsList" class="btn btn-toolbar m-2 border-white">Choose a screening</button>
    </div>
    <div id="ShowScreeningsDiv" class="container" style="display: none;">
        <section class="latest-news">
            <div class="row">
                <section>
                    <label class="form-label" for="movieSelect">Select a Movie:</label>
                    <select id="movieSelect" name="movieSelect" class="user-select-auto">
                        <option value="">-- Select a Movie --</option>
                        @foreach (var movie in Model)
                        {
                            <option value="@movie.Id">@movie.Name</option>
                        }
                    </select>
                </section>
                <section>
                    <label class="form-label" for="dateSelect">Select a Date:</label>
                    <input type="text" id="datepicker" name="dateSelect">
                </section>
            </div>
        </section>
        <div id="screeningsContainer" class="container" style="display: none;">
            <!-- Content to show screenings for the chosen movie -->
        </div>
    </div>
    <div id="ShowMoviesDiv" class="container" style="display: none;">
        <div class="container">
            @foreach (var movie in Model)
            {
                <div class="col-md-6 d-flex card">
                    <div class="card-header">
                        <p>@movie.Name</p>
                    </div>
                    <div class="card-body">
                        <p>@movie.Description</p>
                        <p>Duration - @movie.Duration</p>
                        <div id="screeningsContainerForEachMovie" class="container">
                            @foreach (var screening in movie.Screenings)
                            {
                                <form asp-controller="Movie" asp-action="ChooseSeat" asp-route-screeningId="@screening.Id">
                                    <button class="btn-dark btn m-2">@screening.StartDate.Value.ToString("dd-MM-yyyy HH:mm")</button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>